{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
    },
    "rules": {
  	  "no-console": 0,
      "indent": ["error", "tab"],
      "no-tabs": 0,
      "comma-dangle": 0
     }
}
